language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

install:
  - composer self-update
  - composer install --prefer-source

script:
  - mkdir -p build/logs
  - bin/phpunit --coverage-clover build/logs/coverage.xml

after_script:
  - bin/coveralls -v
