language: php
php:
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'

install:
  - composer install

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --coverage-clover build/logs/coverage.xml

after_script:
  - vendor/bin/coveralls -v --coverage_clover build/logs/coverage.xml
